@import '../service/service'

// идут с - вначале (отказалась от этого)

.-fit-content,
.fit-content
    width: fit-content
.link-default // ?
    color: color(blue)
    text-decoration: underline
    &:hover
        text-decoration: none

// хелперы идут с h- вначале
.td-underline
    text-decoration: underline

// или нет :(
.has-border
    border: em(1) solid color(grey)

// Paddings
.no-padding
    padding: 0
.p-default
    padding: em(12)
    &-top
        padding-top: em(12)
    &-right
        padding-right: em(12)
    &-bottom
        padding-bottom: em(12)
    &-left
        padding-left: em(12)

/* * * Сетки на флексах! * * */
.d-flex
    display: flex
    flex-wrap: wrap
.jc-space-between
    justify-content: space-between
.jc-space-around
    justify-content: space-around

