/* parts/helpers */

// устарело
.-fit-content
    width: fit-content
.link-default // ?
    color: color(blue)
    text-decoration: underline
    &:hover
        text-decoration: none

// правильное написание: сокращенное свойство - значение свойства
// форматирование текста - выравнивание, начертание, толщина, подчеркнутость
.ta-center
    text-align: center
.ta-left
    text-align: left
.ta-right
    text-align: right

.td-underline
    text-decoration: underline
.tt-uppercase
    text-transform: uppercase

// размеры шрифта font-size
// min = 50% (fs-50), max = 200% (fs-200)
// шаг 5%
@for $i from 0 through 30
    $sizeClass: 50 + 5 * $i
    $fontSize: $sizeClass * 1%
    .fs-#{$sizeClass}
        font-size: #{$fontSize}
    


.w-fit-content
    width: fit-content

// Paddings
.no-padding
    padding: 0
.p-default
    padding: em(12)
    &-top
        padding-top: em(12)
    &-right
        padding-right: em(12)
    &-bottom
        padding-bottom: em(12)
    &-left
        padding-left: em(12)

/* * * Сетки на флексах! * * */
.d-flex
    display: flex
    flex-wrap: wrap
.jc-space-between
    justify-content: space-between
.jc-space-around
    justify-content: space-around

// или нет :(
.has-border
    border: 1px solid color(grey)
