@import '../service/service'

/* components/avatar */

.avatar
    font-size: rem(90)
    width: 1em
    height: 1em
    border-radius: 50%
    overflow: hidden
    display: inline-flex
    align-items: flex-end
    justify-content: center
    img
        width: 100%
        height: 100%
        object-fit: cover
    // для дефолтных аватаров (в формате svg), а не пользовательских фотографий
    img[src$=".svg"]
        height: 90%
        width: 90%
        object-fit: contain
// модификации по размеру
.avatar
    &._x-small
        font-size: rem(50)
    &._small
        font-size: rem(70)
    /* normal
        font-size: rem(90) */
    &._bigger
        font-size: rem(115)
    &._medium
        font-size: rem(145)
    &._large
        font-size: rem(180)
    &._x-large
        font-size: rem(225)
    &._great
        font-size: rem(260)
