@import '../service/service'

/* blocks/landing */

// первый экран
.landing
    height: 480px
    margin-bottom: rem(50)
    // background-image: linear-gradient(180deg, #7FFEE6 0%, #68EFEC 46.4%, #1EC0FF 94.77%)
    background-color: color(white)
    .container,
    .container > .grid-row
        height: 100%
    &__info
        height: 100%
        display: flex
        flex-direction: column
        justify-content: center
    &__title
        @include font(600, rem(39))
        margin-top: auto
    &__title-desc
        @include font(300, rem(16))
        margin-top: 11px
    &__button
        margin-top: rem(40)
    &__img // div container
        height: 100%
        display: flex
        &-bg
            width: 90%
            height: 90%
            margin: auto auto 0
            background-repeat: no-repeat
            background-position: bottom center
            background-size: contain

// статистика платформы
.landing__stat
    margin: auto 0 rem(60)

@import 'landing-stat'
