@import '../service/service'

/* blocks/landing */

// второй экран
.main
    display: grid
    grid-template-columns: 2fr 1fr
    grid-gap: 35px
    margin: 13px 0 20px
    @media (max-width: 1199px)
        grid-template-columns: 100%
        margin-top: 0
.main.grid-row
    // = .grid-row, 12-ти колоночная сетка
    grid-template-columns: repeat(12, 1fr)
    column-gap: $grid-gap

@import 'main-banner'
@import 'main-card'
@import 'sm-cards'
