@import '../service/service'

/* blocks/landing */

// мы в СМИ
.media
    margin: rem(30) 0 rem(20)
    .slider__row
        overflow-x: auto
        overflow-y: hidden
    &__item
        padding-left: rem(48)
    &__img-box
        display: flex
        align-items: center
        position: relative
        height: rem(27)
        width: fit-content
        margin-bottom: rem(32)
        &::before // серая полоска под картинкой
            position: absolute
            content: ''
            left: 0
            bottom: - rem(20)
            width: rem(45)
            height: 2.8px
            background-color: color(grey-light-2)
            pointer-events: none
        img
            position: absolute
            // max-height: rem(40)
            max-height: 100%
            max-width: rem(130)
    &__img-box + p
        position: relative
        &::after //кавычки
            position: absolute
            content: '»'
            top: 0
            left: - rem(45)
            font-size: rem(47)
            line-height: 80%
    &__item p
        @include font(300, 14px)
        margin-top: rem(14)
    &__others
        margin-top: rem(38)
        align-items: center
    &__others-row
        align-items: center
    &__others p
        font-size: 18px
        margin-right: rem(32)
        margin-bottom: rem(18)
    &__others-item
        display: block
        margin-right: rem(32)
        margin-bottom: rem(18)
        img
            max-width: rem(130)
            max-height: rem(30)
