@import '../service/service'

/* blocks/reviews */

// отзывы авторов
.reviews
    padding-bottom: rem(15)
    &__item
        display: grid
        grid-template-columns: rem(185) auto
        column-gap: rem(34)
        margin-top: rem(40)
        padding: rem(28) rem(24) rem(22) rem(27)
        border: 3px solid color(cyan-light)
        border-radius: $radius-banner
        position: relative
        &::before
            position: absolute
            content: url('../img/svg/quotation-gradient.svg')
            width: rem(63)
            height: rem(61)
            top: - rem(39)
            right: rem(12)

    &__author
        display: flex
        flex-wrap: wrap
        flex-direction: column
        justify-content: center
        img
            width: 100%
            height: rem(185)
            object-fit: cover
            border-radius: $radius-banner
    &__author-name
        margin-top: 9px
        @include font(400, rem(18))
        text-align: center
    &__info
        display: flex
        flex-direction: column
        p:first-child
            margin-top: auto
        p
            margin-bottom: 1em
            font-weight: 300

// статистика какой проект сколько собрал у автора
.reviews__stat
    margin-top: auto
    margin-bottom: 0

@import 'reviews-stat'

@media (max-width: 767px)
    .reviews
        &__item
            grid-template-columns: rem(110) auto
            grid-template-columns: 100px auto
        &__author img
            height: rem(110)
            height: 100px

@media (max-width: 575px)
    .reviews
        &__item
            grid-template-columns: auto
            padding: 30px 15px
        &__author
            grid-row: 2
            margin-top: 30px
            flex-direction: row
            align-items: center
            justify-content: start
            img
                margin-right: 10px
                height: 55px
                width: 55px
                border-radius: 50%
            &-name
                margin-top: 0
