@import '../service/service'

/* blocks/sponsorship */

.sponsorship 
    margin-top: em(165)
    margin-bottom: em(60)
    padding-top: em(73)
    &__offer
        @include font(600, em(36))
    &__button
        margin-top: em(30, 18)

    &__sponsors-cloud

.sponsors 

    &__item
        text-align: center
    &__item-desc
        font-weight: 300
        font-size: 14px
