@import '../service/service'

/* blocks/sponsorship */

.sponsorship 
    margin-top: rem(165)
    margin-bottom: rem(60)
    padding-top: rem(73)
    &__offer
        @include font(600, rem(36))
    &__button
        margin-top: rem(30)

    &__sponsors-cloud

.sponsors 

    &__item
        text-align: center
    &__item-desc
        font-weight: 300
        font-size: 14px
